apiVersion: apps/v1
kind: Deployment
metadata:
  name: consul
  namespace: stockflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consul
  template:
    metadata:
      labels:
        app: consul
    spec:
      containers:
        - name: consul
          image: hashicorp/consul:1.19
          args:
            - agent
            - -dev
            - -ui
            - -client=0.0.0.0
            - -bind=0.0.0.0
          ports:
            - containerPort: 8500
            - containerPort: 8600
          readinessProbe:
            httpGet:
              path: /v1/status/leader
              port: 8500
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 10